
:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
	padding-top: 0;
	margin-top: 0;
}

.video-container {
	position: absolute;
	top: 1;
	left: 0;	
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* background: var(--primary-color) url('') no-repeat center
		center/cover; */
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(51, 204, 255, 0.1);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(0.98);
}

#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  height: 100%;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}


/* 

Working For Why choose us

*/

.avatar_design{
	height: 205px;
	width: 200px;
	background-color: #3a4052;
	margin: auto;
	float:inherit;
	position: relative;
	border-radius: 165px;
	
}

.text_area{
	border-bottom: 8px solid rgb(27, 124, 153);
}

.text_area3{
	border-bottom: 8px solid rgb(27, 153, 75);
}

.text_area2{
	border-bottom: 8px solid rgb(199, 56, 139);
}



/* 

Working For Transport

*/

.iconDesign{
	border-radius: 165px;
    border: 4px gray;	
    cursor: pointer;
}


/* 

Working For Client satisfiction part

*/


.client_part{
	margin-bottom: 150px;
	margin-top: 250px;

}

.client_text_part{
	border-top: 10px solid #5bc0de ;
	border-left: 10px solid #5bc0de ;
}

/* 

Working For Client Packages part

*/

.packages_part{

	margin-top: 200px;
	padding-bottom:150px;
}
.packages_cards_one{
 
	border-left: 10px solid;
	border-image: 
    linear-gradient(
      to bottom, 
      green, 
      rgba(0, 0, 0, 0)
    ) 1 100%;

}


.packages_cards_two{
 
	border-left: 10px solid;
	border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;

}

.buy_button{
      height:90px,
	   
}