.mapArea{
    width: 100%;
    border-radius: 25px;
    height: 600px;
   
}
.imageArea{
    padding: 0px;
    margin-left:auto;
    
}

.mapFrame{
    border-radius: 25px;
}
.images{
    border-radius: 25px; 
    width:99%;
    box-shadow:5px 5px 16px 0px gray;
}
.images:hover{
    border-radius: 25px; 
    width:100%;
    box-shadow:15px 5px 16px 0px gray;
}
.hotelbody{
    margin-bottom:35px;
}

/* 
 For Wmain 

*/

.text_header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}