.htypes{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    margin-bottom:25px;
}
.top_places{
    background-image: url("../Assets/header-bg.png");
    background-repeat: no-repeat;

}